/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
    --main-bg: #344E41;
    --secondary-bg: #588157;
    --input-bg: #A3B18A;
    --foreground: #DAD7CD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--foreground);
    font-family: 'Inter', sans-serif;
}

body {
    height: 100vh;
    background-color: var(--main-bg);
}

h2 {
    font-size: 60px;
}

a {
    border-radius: 3px;
    color: var(--input-bg);
}

a:focus-visible {
    outline: 2px dashed var(--secondary-bg);
}

label {
    font-size: 25px;
}

input:not([type='checkbox']) {
    background-color: var(--input-bg);
    border: none;
    border-radius: 9px;
    font-size: 23px;
    padding: 10px 13px;
    width: 100%;
}

input::placeholder {
    color: #6D805E;
}

input[type='submit'] {
    cursor: pointer;
    background-color: var(--secondary-bg);
    transition: background-color 0.3s, transform 0.3s;
}

input[type='submit']:hover {
    background-color: #5E8A5D;
    transform: scale(1.025);
}

input:focus-visible {
    outline: 2px solid var(--secondary-bg);
}

input[type='submit']:active {
    background-color: #4C8C47;
    transform: scale(1.04);
}

input[type='submit']:focus-visible {
    outline-color: var(--input-bg);
}

input[type='submit']:disabled {
    cursor: not-allowed !important;
    background-color: #4f644E !important;
    transform: scale(1) !important;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.flash {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;
    font-size: 18px;
}

.notice {
    background-color: #55815199;
    border-top: 2px solid #558151;
    border-bottom: 2px solid #558151;
}

.alert {
    background-color: #B7313AA5;
    border-top: 2px solid #B7313A;
    border-bottom: 2px solid #B7313A;
}

.flash button {
    border: none;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.flash button:hover {
    background-color: #FFFFFF18;
}

.flash svg {
    height: 30px;
    width: 30px;
    display: block;
}
