/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
    --main-bg: #344E41;
    --secondary-bg: #588157;
    --input-bg: #A3B18A;
    --foreground: #DAD7CD;
    --dark-text: #2E2F30;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    height: 100vh;
    color: var(--foreground);
    background-color: var(--main-bg);
}

h2 {
    font-size: 60px;
}

a {
    border-radius: 3px;
    color: var(--input-bg);
    pointer-events: all;
    position: relative;
    z-index: 2;
}

a:focus-visible {
    outline: 2px dashed var(--secondary-bg);
}

label {
    font-size: 25px;
}

input:not([type='checkbox']), button {
    background-color: var(--input-bg);
    border: none;
    border-radius: 9px;
    font-size: 23px;
    padding: 10px 13px;
    width: 100%;
}

input {
    color: #3F463E;
}

button, input[type='submit'] {
    color: var(--foreground);
    cursor: pointer;
    background-color: var(--secondary-bg);
    transition: background-color 0.3s, transform 0.3s;
}

input::placeholder {
    color: #6D805E;
}

input[type='submit']:hover, button:hover {
    background-color: #5E8A5D;
    transform: scale(1.025);
}

input:focus-visible, button:focus-visible {
    outline: 2px solid var(--secondary-bg);
}

input[type='submit']:active, button:active {
    background-color: #4C8C47;
    transform: scale(1.04);
}

input[type='submit']:focus-visible, button:focus-visible  {
    outline-color: var(--input-bg);
}

input[type='submit']:disabled, button:disabled {
    cursor: not-allowed !important;
    background-color: #4f644E !important;
    transform: scale(1) !important;
}

input[type='checkbox'] {
    appearance: none;
    -webkit-appearance: none;
    background-color: #F1FDE8;
    padding: 11px;
    border-radius: 5px;
    display: inline-block;
    position: relative;
}

input[type='checkbox']:focus-visible, input[type='checkbox']:checked:focus-visible {
    outline: 2px dashed var(--secondary-bg);
}

input[type='checkbox']:checked {
    background-color: var(--input-bg);
    color: #F1FDE8;
}

input[type='checkbox']:checked:after {
    content: '\2714';
    font-size: 25px;
    position: absolute;
    top: -4px;
    left: 1px;
    color: #F1FDE8;
}

input[type='checkbox'].login {
    padding: 7px;
    border-radius: 3px;
}

input[type='checkbox'].login:checked:after {
    font-size: 17px;
    top: -3px;
    left: 0;
}

input[type='file'] {
    display: none;
}

#error_explanation li {
    list-style: none;
    color: #f93d3d !important;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.flash {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;
    font-size: 18px;
}

.flash * {
    color: var(--foreground) !important;
}

.notice {
    background-color: #446c4199;
    border-top: 2px solid #446c41;
    border-bottom: 2px solid #446c41;
}

.alert {
    background-color: #B7313AA5;
    border-top: 2px solid #B7313A;
    border-bottom: 2px solid #B7313A;
}

.flash button {
    width: auto;
    padding: 2px;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.flash button:hover {
    background-color: #FFFFFF18;
}

.flash svg {
    height: 30px;
    width: 30px;
    display: block;
}

.pfp {
    font-size: 80%;
    aspect-ratio: 1 / 1;
    border-radius: 1000000000px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    color: var(--foreground);
}

.pfp img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.pfp.small      { height: 30px; }
.pfp.medium     { height: 40px; }
.pfp.big        { height: 50px; }
.pfp.massive    { height: 150px; }

.pfp.small      span { font-size: 12px; }
.pfp.medium     span { font-size: 18px; }
.pfp.big        span { font-size: 22px; }
.pfp.massive    span { font-size: 65px; }

.link-blanket {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.rounded-top, .rounded-top > div{
    border-top-right-radius: 14px !important;
}

.rounded-bottom, .rounded-bottom > div {
    border-bottom-right-radius: 14px !important;
}

#app-page {
    display: flex;
    width: 100%;
    height: 100%;
    color: var(--dark-text);
    background-color: var(--foreground);
    --list-width: 400px;
}

.page-content {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    overflow-y: auto;
}

.page-content > div {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 80px 0;
    width: 500px;
}

.page-content form {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 100%;
}

.page-content a {
    color: var(--secondary-bg);
}

.page-content nav {
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.link-with-icon {
    display: flex;
    align-items: center;
    gap: 5px;
}

.link-with-icon svg {
    height: 20px;
}

.dropdown-select {
    position: relative;
    --width: 160px;
}

.dropdown-select div {
    background-color: var(--input-bg);
    color: #3F463E;
    font-size: 19px;
    padding: 7px;
    width: var(--width);
    border-radius: 5px;
    cursor: pointer;
    transition: border-radius 0s linear 0.3s;
}

.dropdown-select div > span {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-select.open div {
    border-radius: 5px 5px 0 0;
    transition: border-radius 0s;
}

.dropdown-select ul {
    position: absolute;
    padding: 0;
    left: 0;
    height: 0;
    list-style: none;
    font-size: 19px;
    width: var(--width);
    overflow: hidden;
    border-radius: 0 0 5px 5px;
    transition: height 0.3s;
}

.dropdown-select svg {
    height: 20px;
    transition: transform 0.3s;
}

.dropdown-select.open svg {
    transform: rotate(180deg);
}

.dropdown-select li {
    color: #3F463E;
    background-color: #b0bd9a;
    width: 100%;
    padding: 5px;
    transition: background-color 0.2s;
}

.dropdown-select li:hover {
    cursor: pointer;
    background-color: #bac5a8;
}

a.destructive {
    color: #DD3030;
}

scrollbar {
  width: 16px;
}

scrollbar-track {
  background: transparent;
}

scrollbar-thumb {
  background-color: var(--main-bg);
  border: 4px var(--foreground) solid;
  border-radius: 8px;
}

scrollbar-thumb:hover {
  background-color: var(--secondary-bg);
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-bg);
  border: 4px var(--foreground) solid;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-bg);
}
