#chats-list {
    height: 100%;
    color: var(--foreground);
    background-color: var(--foreground);
}

#chats-list, #chats-list-background-layer {
    display: flex;
    flex-direction: column;
    width: var(--list-width);
    background-color: var(--main-bg);
}

#chats-list-background-layer {
    background-color: var(--foreground);
    overflow: auto;
}

#list-header {
    background-color: var(--main-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    font-size: 29px;
    box-shadow: 0 1px 4px 0 #00000035;
    position: relative;
    z-index: 2;
}

#list-header > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

#list-header button, #list-header a {
    color: var(--foreground);
    background-color: transparent;
    width: 45px;
    height: 45px;
    padding: 2px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#list-header button:hover, #list-header a:hover {
    background-color: #FFFFFF18;
}

#list {
    max-height: 100%;
}

.chat-preview {
    text-decoration: none;
    border-radius: 0;
    position: relative;
}

.chat-preview > div {
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 10px;
    background-color: var(--main-bg);
}

.chat-preview-details {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: calc(100% - 68px);
}

.chat-preview-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.chat-preview-header > :last-child {
    display: flex;
    align-items: center;
    gap: 5px;
}

.chat-preview-header a {
    color: var(--foreground);
    display: flex;
    padding: 2px;
    background-color: transparent;
    transition: background-color 0.3s;
}

.chat-preview-header a:hover {
    background-color: #FFFFFF18;
}

.chat-preview-header svg {
    height: 16px;
}

.chat-preview .date {
    font-size: 14px;
}

.chat-preview.selected > div {
    background-color: transparent;
}

.chat-preview.selected .chat-preview-header span, .chat-preview.selected path  {
    color: var(--dark-text);
}

.chat-preview p {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-preview.selected p {
    color: #777876;
}

#fake-chat-preview {
    width: 100%;
    height: 30px;
    background-color: var(--main-bg);
}

.chat-preview p {
    font-size: 15px;
    color: #AFAFAF;
}

#chat-placeholder {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

#chat-placeholder h2, #chat-placeholder p {
    color: var(--dark-text);
}

#chat-placeholder a {
    color: var(--secondary-bg);
}


#new-chat-name {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#new-chat-name > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

#new-chat-name > div input {
    width: 100%;
}

#new-chat-name > div input[type='submit'] {
    width: auto;
}

#new-chat-name #error_explanation li {
    color: #f93d3d !important;
}

#members-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#members-list > div, #members-list label {
    display: flex;
    align-items: center;
    gap: 10px;
}

#members-list h3 {
    font-size: 25px;
    font-weight: normal;
}

#members-list label {
    font-size: 21px;
}

#messages-page {
    width: 100%;
    padding: 0;
    gap: 0;
}

#messages {
    width: 100%;
    height: 100%;
    padding: 40px 20px 0;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

#page_handler { display: none; }

#scroll-link {
    visibility: hidden;
    padding-top: 50px;
}

.message-container {
    display: flex;
    width: 100%;
    gap: 5px;
}

.message-container:not(.top) .pfp {
    opacity: 0;
}

.message-container > div > .pfp {
    transform: translateY(-50%);
}

.message, .system-message {
    color: var(--foreground);
}

.system-message {
    width: max-content;
    padding: 5px 10px;
    margin: 5px auto;
    font-size: 16px;
    background-color: var(--secondary-bg);
    border-radius: 5px;
}

.system-message :first-child {
    font-weight: bold;
}

.message {
    background-color: var(--secondary-bg);
    padding: 7px 10px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    max-width: calc((100vw - var(--list-width) - 40px) * 0.45);
}

.top .message-author {
    font-weight: bold;
    margin-bottom: 2px;
    display: block;
}

.message-author {
    display: none;
}

.message-container.bottom .message { border-bottom-left-radius: 7px; }

.pfp-filler {
    width: 40px;
}

.message-and-triangle {
    display: flex;
    align-items: flex-start;
}

.message-and-triangle .triangle {
    display: flex;
}

.triangle-filler, .message-and-triangle .triangle svg {
    width: 15px;
}

.message-and-triangle .triangle svg path, .message-and-triangle .triangle svg line {
    fill: var(--secondary-bg);
    stroke: var(--secondary-bg);
}

.msg-info {
    display: flex;
    align-items: center;
    gap: 3px;
}

.msg-info span {
    font-size: 13px;
    color: #C0DDC0;
    min-height: 16px;
    display: inline-block;
}

.message p {
    word-wrap: break-word;
}

.message-status svg {
    width: 20px;
}

.message-status svg path {
    stroke: var(--foreground);
    fill: none;
}

.message-status svg.read path {
    stroke: #65E538;
}

#new-message {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 17px;
    align-items: center;
}

#new-message button {
    padding: 0;
    margin: 0;
    height: 50px;
    width: 50px;
    background-color: transparent;
}

#new-message button:active, #new-message button:disabled {
    background-color: transparent !important;
}

#new-message svg {
    width: 100%;
    fill: var(--input-bg);
    stroke: var(--input-bg);
}

#new-message svg path {
    fill: var(--input-bg);
    stroke: var(--input-bg);
}

#edit-chat-name {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#members-list .member {
    font-size: 21px;
    display: flex;
    justify-content: space-between;
}

#members-list .member > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

#members-list .member a {
    background-color: transparent;
    width: 35px;
    height: 35px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#members-list .member a:hover {
    background-color: #FFFFFF18;
}

#members-list a {
    color: var(--secondary-bg);
}

#members-list .member .remove {
    color: #DD3030;
    display: flex;
}

#delete-chat {
    color: #DD3030;
}

.removed-chat {
    display: none;
}
