#options-list {
    width: var(--list-width);
    background-color: var(--main-bg);
}

.list-background-layer {
    width: var(--list-width);
    background-color: var(--foreground);
}

#options-header {
    justify-content: space-between;
    font-size: 29px;
    position: relative;
    z-index: 2;
    box-shadow: 0 1px 4px 0 #00000035;
}

#options-header > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

#options-header a {
    color: var(--foreground);
    background-color: transparent;
    width: 45px;
    height: 45px;
    padding: 2px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#options-header a:hover {
    background-color: #FFFFFF18;
}

.option, #options-header, #fake-option {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 7px 10px;
    border-radius: 0;
    color: var(--foreground);
    background-color: var(--main-bg);
    text-decoration: none;
}

.option svg {
    height: 40px;
}

.option.selected {
    color: var(--dark-text);
    background-color: transparent;
}

#fake-option {
    height: 30px;
    border-top-right-radius: 14px;
}

#contact-number-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inline-submit {
    display: flex;
    gap: 10px;
}

form .inline-submit input[type='submit'] {
    width: auto;
}

#contact-number-container button {
    width: auto;
    color: var(--foreground);
}

#contacts-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#contacts-list .contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 21px;
}

#contacts-list .contact > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

#contacts-list .contact a {
    background-color: transparent;
    width: 35px;
    height: 35px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#contacts-list .contact a:hover {
    background-color: #FFFFFF18;
}

#contacts-list .contact a.accept svg, #contacts-list .contact a.accept path { color: #329630 }
#contacts-list .contact a.reject svg, #contacts-list .contact a.reject path { color: #DD3030 }

#contacts-list h3 {
    font-size: 25px;
    font-weight: normal;
}
